.navbar{
	border-radius: 0px
}
.navbar-default{
	background-color:rgba(0,0,0,0.61);
	border-bottom:1px solid #ffda00;
	border-top:0px;
	border-left:0px;
	border-right:0px;
}
.navbar-default .navbar-nav>li>a{
	color:rgba(255,255,255,1);
	font-size:9pt;
	margin:5px 15px 0px 15px;
	padding:18px 0px;
	vertical-align: middle;
	-o-transition:color .4s ease-out;
	-ms-transition:color .4s ease-out;
	-moz-transition:color .4s ease-out;
	-webkit-transition:color .4s ease-out;
	transition:color .4s ease-out;
}
.navbar-default .navbar-nav>li>a:hover{
	color:rgba(255,255,255,0.55);
}

h2.heading{
	text-align:center;
	text-transform: uppercase;
	font-weight: 300;
}
h3.subheading{
	text-align: center;
	font-weight: 300;
}
.horizontal-line{
	width:110px;
	height:19px;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.horizontal-line.black{
	border-bottom:1px solid black;
}
.horizontal-line.white{
	border-bottom:1px solid white;
}

@import url(http://fonts.googleapis.com/css?family=Open Sans);
body {
  background-color: rgba(0,0,0,1);
  font-family: 'Open Sans' sans-serif;
}


/*slopy*/
.se-container {
  padding-top: 150px;
  overflow: hidden;
}
.se-container .slope {
  color: #fff;
  margin: 0 -50px;
  margin-top: -200px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.se-container .slope .slope-content p {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  font-size: 22px;
}
.se-container .slope:nth-child(odd) {
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  margin-top: 0;
}
.se-container .slope:nth-child(odd) .slope-content {
  padding: 130px 100px 250px 100px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.se-container .slope:nth-child(even) {
  background-color: rgba(255,255,255,1);
  color: rgba(0,0,0,1);
  -webkit-transform: rotate(3eg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.se-container .slope:nth-child(even) .slope-content {
  padding: 130px 100px 250px 100px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
